h1{
    border-radius: 0%;
    border: dotted;
    border-color: rgba(137, 43, 226, 0.806);
    padding: 30px;
    margin: auto;
}
    p{
        color: blueviolet;
    }
    h3,p{
        text-align:left;
        color: #000;
    }
    div{
        background-color:aquamarine;
    }
    *{
        background-color: aquamarine;
    }
    .table:hover{
        color: rgb(202, 226, 43);
        background-color: rgb(226, 43, 116);
        display: block;
    }
    h1:hover{
        color: rgb(226, 43, 67);
        background-color: rgb(166, 255, 0);
    }
    h2:hover{
        text-decoration: darkblue;
        font-family:Arial, Helvetica, sans-serif
    }

